h1, h2, h3, p{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	color: #FFFFFF;
}

.header, .section, .footer{
	max-width: 1440px;
	margin: 0 auto;
}

.title{
	text-align: center;
	font-family: 'M PLUS 1p', sans-serif;
	font-size: 48px;
	line-height: 70px;
	letter-spacing: 0.1em;
	color: #3E45E8;
	margin-top: 25px;
}

.title-color{
	color: #E8C23E;
}

.photo{
	max-width: 1440px;
	margin-top: 31px;
	height: 803px;
	background: url(../img/castle.png) no-repeat;
	background-size: cover;
}

.content{
	background: url(../img/flag.png) 80px 206px no-repeat;
	font-family: 'Inika', serif;
	font-weight: 700;
	font-size: 48px;
	line-height: 157.3%;
	color: #FFFFFF;
	max-width: 86%;
	padding: 195px 0 0 118px;
	box-sizing: border-box;
}

h1, h2{
	font-family: 'Inika', serif;
	font-weight: 700;
	font-size: 40px;
	line-height: 157.3%;
}

h1{
	margin: 72px 0 0 80px;
}

.line{
	width: 402px;
	border: 5px solid #3E45E8;
	margin: 25px 0 0 80px;
}

.gallery{
	margin-top: 33px;
	display: flex;
}

.gallery-item1, .gallery-item2, .gallery-item3{
	box-shadow: 0px 4px 57px 3px rgba(0, 0, 0, 0.25);
	border-radius: 30px;
}

.gallery-item1:hover, .gallery-item2:hover, .gallery-item3:hover{
	box-shadow: 2px 7px 66px 5px rgba(73, 73, 71, 0.8);
	border-radius: 30px;
}

.gallery-item1{
	margin:0 50px 0 80px;
}

.gallery-item2{
	margin-right: 50px;
}



h3{
	margin: 16px 0 15px 10px;
	font-family: 'Inika';
	font-weight: 700;
	font-size: 24px;
	line-height: 157.3%;
	color: #1E8DF2;
}

h3:hover{
	font-size: 30px;
	transition: 300ms;
}

p{
	margin: 0 0 75px 10px;
	font-family: 'Inika';
	font-weight: 400;
	font-size: 20px;
	line-height: 157.3%;
	color: #E8C23E;
}

p:hover{
	font-size: 25px;
	transition: 300ms;
}

h2{
	text-align: center;
	margin: 74px 0 21px 0;
}

.line2{
	width: 402px;
	border: 5px solid #3E45E8;
	margin: 0 auto;
}

.image{
	margin: 41px 0 41px 0; 
	text-align: center;
}

.btn{
	text-align: center;
}

.button{
	display: inline-block;
	padding: 10px 92px;
	background: #2A61F0;
	font-family: 'Inika';
	font-style: normal;
	font-weight: 700;
	font-size: 64px;
	line-height: 157.3%;
	color: #FFFFFF;
}

.button:hover{
	background: #0538b9;
	color: #f0d67b;
	box-shadow: 0px 2px 30px 2px rgba(0, 0, 0, 0.25);
	transition: 300ms;
}

.footer{
	background: #2F4A4B;
	margin-top: 21px;
}

.contacts{
	margin: 21px;
	display: block;
	font-family: 'Marcellus SC', serif;
	font-size: 36px;
	line-height: 45px;
	letter-spacing: 0.1em;
	text-align: center;
	color: #A89D9D;
}

.soc{
	text-align: center;
	padding-bottom: 27px;
}

.soc-item{
	margin-left: 13px;
}
